doctype html
html(lang="en")
  head
    style
      include style.css
    title= "Fid's Test"
    script(type='test/javascirpt').
  body
    h1 Pug - Test Home
    #container.Home
    p This makes it so easy
